/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button1{
	-fx-font-size: 20;
	-fx-background-color: #F2911B;
	-fx-pref-width: 200px;
	-fx-pref-height: 75px;
    -fx-font-weight: bold;
    -fx-text-fill: White;
    -fx-effect: dropshadow( gaussian , Black , 10,0,5,5 );
}

.button1:hover{
     -fx-effect: dropshadow( gaussian , Black , 0,0,0,0 );
}


.buttonSelected{
	-fx-font-size: 20;
	-fx-background-color: #D7D7D9;
	-fx-pref-width: 200px;
	-fx-pref-height: 75px;
    -fx-font-weight: bold;
    -fx-text-fill: Black;
}


.header1.label .text {
	-fx-font-weight: bold;
	-fx-font-size: 55;
	-fx-alignment: center;
	-fx-fill: #F2911B;
	-fx-stroke: #000000;
    -fx-stroke-width: 2px;
    -fx-stroke-type: outside;
    }

.outline1.label .text {

    -fx-stroke: #000000;
    -fx-stroke-width: 2px;
}
.shadow {
	-fx-effect: dropshadow( gaussian , Black , 0,0,3,3 );
}

#pane1 {
   -fx-background-image: url('/de/dominikemmel/reflowlab/controller/maincontrol/img/Block.png');
   -fx-background-size: 1520 100;
   -fx-background-position: center,center;
   
}

#pane2 {
	-fx-background-image: url('/de/dominikemmel/reflowlab/controller/maincontrol/img/Block2.png');
	-fx-background-size: 1520 115;
    -fx-background-position: center,center;
    -fx-border-color: black;
    -fx-border-width: 4;
}

.chart-plot-background {
    -fx-background-color: transparent;
}


#AnchorPane1 {
	-fx-background-color:  #585859;
	-fx-border-width:  2;
	-fx-border-color:  black;
}

#header1.label .text {
	-fx-font-weight: bold;
	-fx-font-size: 55;
	-fx-alignment: center;
	-fx-fill: #F2911B;
	-fx-stroke: #000000;
    -fx-stroke-width: 2px;
    -fx-stroke-type: outside;
    -fx-effect: dropshadow( gaussian , Black , 0,0,3,3 );
}

#txtInputPane .text {
	-fx-font-weight: bold;
	-fx-fill: #F2911B;
}
#txtInputPane {
	-fx-font-size: 12;
}

.txtInputPaneHeader .text {
	-fx-font-weight: bold;
	-fx-fill: #F2911B;

}
.txtInputPaneHeader {
	-fx-font-size: 18;
}

.txtInputPaneSelection .text {
	-fx-font-weight: bold;
	-fx-fill: #F2911B;
}
.txtInputPaneSelection {
	-fx-font-size: 12;
}

.plotPane {
	-fx-background-color:  #E4E4E6;
}

.txtInputValues {
	-fx-font-weight: bold;
	-fx-text-fill: #f8f8ff;
}
.txtOutputValues {
	-fx-font-weight: bold;
	-fx-text-fill: #f8f8ff;
}

