

@font-face {
    src: url("font/Roboto-Thin.ttf");
}
@font-face {
    src: url("font/Roboto-Black.ttf");
}
@font-face {
    src: url("font/Roboto-BlackItalic.ttf");
}
@font-face {
    src: url("font/Roboto-Regular.ttf");
}
@font-face {
    src: url("font/Roboto-Medium.ttf");
}

.button1{
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 20;
	-fx-background-color: #F2911B;
	-fx-pref-width: 200px;
	-fx-pref-height: 75px;
    -fx-font-weight: bold;
    -fx-text-fill: White;
    -fx-effect: dropshadow( gaussian , Black , 10,0,5,5 );
}

.textMain1{
	-fx-font-family: "Roboto Medium";

}


.button1:hover{
     -fx-effect: dropshadow( gaussian , White , 1,1,0,0);
}

.buttonIcon:hover{
	-fx-effect: dropshadow( gaussian , White , 1,1,0,0);
}
.buttonMail:hover{
	-fx-effect: dropshadow( gaussian , Black , 1,1,0,0);
}

.buttonSelected{
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 20;
	-fx-background-color: #D7D7D9;
	-fx-pref-width: 200px;
	-fx-pref-height: 75px;
    -fx-font-weight: bold;
    -fx-text-fill: Black;
}


.header1.label .text {
	-fx-font-family: "Roboto Medium";
	/*-fx-font-weight: bold; */
	-fx-font-size: 75;
	-fx-alignment: center;
	-fx-fill: #232226;
	-fx-stroke: #F2911B;
	
    -fx-stroke-width: 2px;
    -fx-stroke-type: outside;
    
    }

.outline1.label .text {

    -fx-stroke: #000000;
    -fx-stroke-width: 2px;
}
.shadow {
	-fx-effect: dropshadow( gaussian , Black , 0,0,3,3 );
}

.buttonHome{
	-fx-font-family: "Roboto Medium";
	-fx-background-color: #F2911B;
	-fx-font-weight: bold;
	-fx-font-size: 28;
	-fx-text-fill: White;
	-fx-border-width: 4;
	-fx-border-color: Black;
}

#pane1 {
   -fx-background-image: url('../img/Block.png');
   -fx-background-size: 1520 100;
   -fx-background-position: center,center;
   
}

#pane2 {
	-fx-background-image: url('../img/Block2.png');
	-fx-background-size: 1520 115;
    -fx-background-position: center,center;
    -fx-border-color: black;
    -fx-border-width: 4;
}

#pane3 {
	-fx-background-image: url('../img/Block2.png');
	-fx-background-size: 1520 60;
    -fx-background-position: top,center;
    -fx-border-color: black;
    -fx-border-width: 4;
}

.chart-plot-background {
    -fx-background-color: transparent;
}


#AnchorPane1 {
	-fx-background-color:  #232226;
	-fx-border-width:  2;
	-fx-border-color:  black;
}

#rectangle1 {
	-fx-fill:  #ffffff;
	-fx-stroke-width:  2;
	-fx-stroke:  black;
	-fx-opacity: 1;
	-fx-effect: dropshadow( gaussian , Black , 0,0,1,1 );
} 


#header1.label .text {
	-fx-font-weight: bold;
	-fx-font-size: 55;
	-fx-alignment: center;
	-fx-fill: #F2911B;
	-fx-stroke: #000000;
    -fx-stroke-width: 2px;
    -fx-stroke-type: outside;
    -fx-effect: dropshadow( gaussian , Black , 0,0,3,3 );
}

#header2.label .text {
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 40;
	-fx-alignment: center;
	-fx-fill: #F2911B;
	-fx-stroke: #000000;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}

#btnCalculate {
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 16;
	-fx-background-color: White;
}

.textStyleDefault {
	-fx-font-family: "Roboto Medium";
}

.txtInputPane .text {
	-fx-font-family: "Roboto Medium";
	-fx-fill: #F2911B;
	-fx-font-size: 12;
}

.txtInputPaneHeader .text {
	-fx-font-family: "Roboto Medium";
	-fx-fill: #F2911B;
	-fx-font-size: 20;
}


.txtInputPaneSelection .text {
	-fx-font-family: "Roboto Medium";
	-fx-fill: #F2911B;
	-fx-font-size: 13;
}

.txtSmallInputPane .text {
	-fx-font-family: "Roboto Medium";
	-fx-fill: White;
	-fx-font-size: 12;
}

.plotPane {
	-fx-background-color:  White;
}

.txtInputValues {
	-fx-font-weight: bold;
	-fx-text-fill: #f8f8ff;
}
.txtOutputValues {
	-fx-font-weight: bold;
	-fx-text-fill: #f8f8ff;
}

.txtDiabled {
	-fx-background-color:  #CDCDCD;
}

.txtStackPaneHeader .text {
	-fx-font-weight: bold;
	-fx-fill: #F2911B;
	-fx-font-size: 22;
	-fx-stroke: #000000;
	-fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}

.txtStackPaneHeader2 .text {
	-fx-font-weight: bold;
	-fx-fill: #ffffff;
	-fx-font-size: 16;
	-fx-stroke: #000000;
    -fx-stroke-width: 0.5px;
    -fx-stroke-type: outside;
}

.txtStackPaneHeader3 .text {
	-fx-font-weight: bold;
	-fx-fill: #ffffff;
	-fx-font-size: 16;
	-fx-stroke: #000000;
    -fx-stroke-width: 0.5px;
    -fx-stroke-type: outside;
}

.txtAddEditPaneHeader .text {
	-fx-font-weight: bold;
	-fx-fill: #ffffff;
	-fx-font-size: 20;
	-fx-stroke: #000000;
    -fx-stroke-width: 0.5px;
    -fx-stroke-type: outside;
}

.txtAddEditPaneHeader2 .text {
	-fx-font-weight: bold;
	-fx-fill: #ffffff;
	-fx-font-size: 16;
}

.txtAddEditPaneHeader3 .text {
	-fx-font-weight: bold;
	-fx-fill: black;
	-fx-font-size: 16;
}

.txtAddEditPane .text {
	-fx-font-weight: bold;
	-fx-fill: black;
	-fx-font-size: 12;
}

.standardPaneBackground {
	-fx-background-color:  #232226;
	-fx-border-width:  2;
	-fx-border-color:  black;
}

.standardPaneBackground1 {
	-fx-background-color:   #5C5863;
	-fx-border-width:  2;
	-fx-border-color:  black;

}

.standardPaneBackground2 {
	-fx-background-color:   #5C5863;
	-fx-border-width:  2;
	-fx-border-color:  black;
	-fx-opacity: 0.8;
}

.standardPaneBackgroundCenter {
	-fx-background-color:   transparent;
	-fx-opacity: 1;
}

.standardPaneBackgroundTranspColor {
	-fx-background-color:   #5C5863;
	-fx-opacity: 0.5;
}

.standardPaneBackgroundOutwards {
	-fx-background-color:   #232226;
	-fx-opacity: 1;
}

.standardBotton1 {
	-fx-background-color:   #232226;
	-fx-border-color:  #5C5863;
	-fx-font-size: 12;
	-fx-text-fill: #F2911B;
}

.standardAchorPane {
	-fx-background-color: transparent;
}